<!-- Link to bootstrap css library version 4 -->
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous"
/>

<div class="container">
  <form action="/polls/teachers/edit/{{ teacher.id }}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="first_name">First name</label>
      <input
        type="text"
        class="form-control"
        id="first_name"
        name="first_name"
        placeholder="{{ teacher.first_name }}"
      />
    </div>
    <div class="form-group">
      <label for="Last_name">Last name</label>
      <input
        type="text"
        class="form-control"
        id="Last_name"
        name="last_name"
        placeholder="{{ teacher.last_name }}"
      />
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="{{ teacher.email }}"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
      />
    </div>
    <input type="submit" value="Submit" />
  </form>
</div>
